@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}
button:focus {
  outline: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}
.logo {
  height: 30px !important;
  width: 20px !important;
  margin-right: 10px;
  /* background-color: transparent; */
  /* padding: 10px;
  border-radius: 50%; */
}
.footer_icons {
  font-size: 1.3rem !important;
}
.header_section {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(
      rgba(0, 168, 165, 0.3),
      rgba(237, 242, 248, 0.3)
    ),
    url("https://wc.wallpaperuse.com/wallp/92-928827_s.jpg.jpg");
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("https://wc.wallpaperuse.com/wallp/92-928827_s.jpg.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header_section h1 {
  color: #fff !important;
  /* font-size: 3rem !important; */
}
footer a {
  text-decoration: underline;
  color: rgb(34, 197, 94);
  transition: all 0.2s ease;
}
.social_icon a:hover i {
  color: rgb(156, 163, 175) !important;
  transition: all 0.2s ease;
transform: scale(0.9);
}

@media (min-width: 640px) {
  .sm\:text-4xl {
    font-size: 2.7rem !important;
    line-height: 3.5rem !important;
  }
}
@media (min-width: 1024px) {
  .lg\:w-3\/4 {
    width: 57%;
    color: #a6a1a1;
    margin-top: 1.5rem;
    line-height: 1.625;
  }
}
.btn {
  border-radius: 100px;
  padding-top: 30px 50px;
  border: 1px solid rgba(0, 168, 165, 0.3);
  color: white;
  font-size: 1.6rem;
  background-color: rgba(12, 211, 208, 0.959);
}
.btn {
  border-radius: 100px;
  padding-top: 30px 50px;
  border: 1px solid white;
  color: white;
  font-size: 1.6rem;
  background-color: transparent;
}
.btn:hover {
  background-color: rgba(17, 145, 184, 0.623);
  /* background-color: rgba(99, 102, 241 , 0.623); */
  box-shadow: 0 0 20px 0 rgba(156, 163, 175, 0.3);
}
.navbar {
  position: fixed !important;
  top: 0 !important;
  z-index: 1000 !important;
  width: 100% !important;
}

.navbar-brand {
  display: flex;
}
.logo_title {
  font-size: 1.3rem !important;
  font-weight: 700 !important;
}
.nav-link {
  text-transform: capitalize;
}
.nav-link {
  padding: 10px 20px !important;
  font-size: 20px;
  font-style: bold;
}
.navbar a:hover {
  /* border-radius: 15px; */
  /* background-color: rgba(0, 168, 165, 0.3); */
}
.nav-item {
  padding: 0 20px;
}
.container {
  max-width: 1300px !important;
  margin-left: auto;
  margin-right: auto;
}

.bg-transparent {
  box-shadow: 0 25px 35px rgba(255, 255, 255, 0.7) !important;
  box-shadow: 0 7px 15px rgba(255, 255, 255, 0.7) !important;
}

.feature:hover {
  /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3); */
  transition: 0.3s ease-in-out;
}
.feature p {
  line-height: 1.4 !important;
  font-size: 0.95rem !important;
  /* padding: 0 2rem !important; */
}
.feature {
  padding: 1.9rem 1.3rem !important;
}
.second {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.features h2 {
  font-weight: 600;
}
.about i {
  width: 4rem !important;
  height: 4rem !important;
  font-size: 1.6em !important;
  box-shadow: 0 5px 13px rgb(255 255 255 / 50%) !important;
  margin-left: 1.5rem !important;
}
.navbar{background: transparent !important;}
.navbar_dark{
  background-color: rgb(31 ,41, 55 ) !important;
  background-color: rgb(99, 102, 241  ) !important;
  transition: 0.4s ease-in-out;
}
.navbar_dark a{
  color: white !important;

}
.navbar_dark a:hover{
  background-color: rgba(153, 153, 241, 0.589) !important;
  /* background-color: rgba(255, 255, 255, 0.712) !important; */
}
.social_icon a:hover i{

}
@media (max-width: 992px) {
  .nav-item {
    text-align: center;
  }
  .dropdown-item {
    text-align: center;
  }
  .dropdown-toggle {
    display: block;
    z-index: 67;
  }
}
@media (max-width: 770px) {
  .about h1 {
    font-size: 2.1rem !important;
    margin-bottom: 1.5rem !important;
    line-height: 2.9rem !important;
  }
  .about i {
    width: 3.5rem !important;
    height: 3.5rem !important;
    font-size: 1.5em !important;
    box-shadow: 0 5px 13px rgb(255 255 255 / 50%) !important;
    margin-left: 1rem !important;
  }
  .features .container {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    transform: scale(0.9) !important;
  }
  .feature p {
    line-height: 1.5 !important;
    font-size: 0.9rem !important;
  }
}

@media (max-width: 650px) {
  .nav-link {
    padding: 7px 20px !important;
    font-size: 19px;
    font-style: bold;
  }
  .nav-item {
    text-align: center;
  }
  .dropdown-item {
    text-align: center;
  }
  .dropdown-toggle {
    display: block;
    z-index: 67;
  }
  #myBtn {
    right: 10px;
  }
  .navbar a{
color: #fff !important;
  }
}

@media (max-width: 550px) {
  .features .flex-col {
    /* padding-left: 0 !important;
    padding-right: 0 !important; */
  }
  .feature {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  }
  .features .container {
    padding-top: 4rem !important;
    padding-bottom: 5rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
  .row_container {
    padding-top: 2.3rem !important;
    padding-bottom: 2.3rem !important;
    padding-left: 2.75em !important;
    padding-right: 2.75em !important;
  }
  .row {
    padding-bottom: 2.5rem !important;
    padding-top: 2.5rem !important;
  }
  .icon_container {
    width: 4rem !important;
    height: 4rem !important;
  }
  .icon {
    font-size: 1.5em !important;
  }
  .pb-16 {
    padding-bottom: 2.5rem !important;
  }
  .about h1 {
    font-size: 1.68rem !important;
    margin-bottom: 1.4rem !important;
  }
  .about p {
    line-height: 1.5 !important;
  }
  .about i {
    width: 4rem !important;
    height: 4rem !important;
    font-size: 1.7em !important;
    box-shadow: 0 5px 13px rgb(255 255 255 / 50%) !important;
  }
  .home {
    min-height: 68vh !important;
  }
  .home h1 {
    font-size: 1.8rem !important;
    line-height: 2rem !important;
  }
  .home p {
    font-size: 1.05rem !important;
    line-height: 1.5rem !important;
  }
  .btn {
    font-size: 1.45rem !important;
    padding: 0.6rem !important;
  }
}
